/* PINK */

body{
  background: #e0e5ec;
}

.the-container{
  display: block;
  position: absolute;
  width: 500px;
  height: 350px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-window{
  display: block;
  position: relative;
  width: 235px;
  height: 235px;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow:  -20px -20px 20px 0 rgba(255, 255, 255, .4),
              10px 10px 10px  0 rgba(174, 174, 192, .4), 
    inset 4px 4px 6px 0 #fff;
  overflow: hidden;
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
}



input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

 input#toggle[type=checkbox]{
     display:none;
 }


label {
    position: absolute;
    height: 40px;
    width: 120px;
    display: block; 
    top: 0px; bottom: 0; right: 0; left:0;
    z-index: 9999;
    cursor: pointer;
    margin: 0 auto;
}

.switch {
  display: block; 
  position: relative;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  height: 40px;
  width: 100px;
  margin: 0px auto 30px auto;
}

.switch .button{
  display: block; 
  position: absolute;
  border-radius: 100%;
  background: #e0e5ec;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  height: 32px; 
  width: 32px;
  top: 4px;
  left: 4px;
}



/* TOGGLE */

.switch .button {
    transition: left .25s ease-in-out;
    -webkit-transition: left .25s ease-in-out;
}

input[type=checkbox]:checked ~ .switch .button {
    position: absolute;
    left: 64px;
}

/* BLACK */

input[type=checkbox]:checked ~ .c-window {
  background: #cfd8e4;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

input[type=checkbox]:checked ~ .switch {
  background: #cfd8e4;
}
